@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    color: #9f9f9f;
  }

  a {
    @apply text-sm font-bold text-primary;
  }
}

@layer components {
  .input-base {
    @apply bg-gray400 text-white border-black border outline-0 rounded pt-1 pb-1 pl-2 pr-2 w-full;
  }

  .content-wrapper {
    @apply h-full bg-gray100  flex flex-col justify-center sm:w-[26rem] p-8 sm:rounded-lg sm:h-auto;
  }
}

